* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #232338;
    color: white;
    margin: 0 10%;
}

a{
    text-decoration: none;
    color:white;
}

h1, h2, h3, h4{
    font-weight: 50;
    margin-bottom: 10px;
}

main {
    max-width: 1000px;
    margin: auto;
    margin-top: 150px;
}
button{
    color: white;
    background-color: #DB5660;
    padding: 3px;
}
/* image color transtion */
img {
    width:100%;
    height:150px;
    object-fit:cover;
    opacity: 0.6;
    transition: opacity 1s;
}

img:hover {
    opacity: 1.0;
    color: #DB5660;
  }


.header{
    margin: 50px 0;
    height: 10vh
}
.header a{
    padding: 0px;
    background-color: #DB5660;
}

/* || side nav bar */
.sidenav {
    position: fixed;
    height: 5%;
    width:100%;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #DB5660;
}
.sidenav ul{
    display: flex;
    justify-content: center;
}
.sidenav li{
    font-size: 25px;
    padding: 10px;
    display: inline;
}
/* Main section */
.aboutme {
    margin: 50px 0;
    display: flex;
    align-items: center;
    height: 30vh
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px  0;
    width: 100%;
}

.contact{
    display: flex;
    align-items: center;
    margin: 50px 0;
    height: 30vh
}
/* flex for work section */
.flexsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexdiv{
    height: 150px;
    background-color: #DB5660;
    border: 5px solid #DB5660;
    color: white;
    margin: 10px;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.flexgen{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact section flex */
.contactcontainterflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.contactdiv{
    padding: 10px;
}



/* misc classes */
.link{
    color: white;
    background-color: #DB5660;
    padding: 5px;
    text-decoration: none;
}

.indent{
    margin-left: 10px;
}

.sideways{
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 0.1px;
    margin-right: 20px;
    padding: 10px;
    border-right: 6px solid #DB5660;
}


.overlap{
    position: absolute;
}


@media screen and (max-width: 768px) {
    /* make titles go horzontal and on top */
    .sideways{
        writing-mode: horizontal-tb;
    }
    .aboutme{
        flex-direction: column;
        height: auto;
    }
    .flexgen{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        height: auto;
    }
    .flexdiv{
        height: 150px;
    }
    .flexsection{
        flex-direction: column;
    }
    .contactcontainterflex{
        flex-direction: column;
        justify-content: center;

    }
}
