* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #232338;
    color: white;
    margin: 0 10%;
}
a{
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4{
    font-weight: 50;
    margin-bottom: 10px;
}

main {
    max-width: 1000px;
}

.header{
    margin: 50px 0;
    height: 10vh
}
.header a{
    padding: 0px;
    background-color: #DB5660;
}

/* || side nav bar */
.sidenav {
    position: fixed;
    height: 5%;
    width:100%;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #DB5660;
}

.sidenav li{
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
}

.aboutme {
    margin: 50px 0;
    display: flex;
    align-items: center;
    height: 50vh
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px  0;
    width: 100%;
}


.contact{
    display: flex;
    align-items: center;
    margin: 50px 0;
    height: 50vh
}

.flexsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexdiv{
    height: 150px;
    background-color: #DB5660;
    border: 5px solid #DB5660;
    color: white;
    margin: 10px;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.indent{
    margin-left: 10px;
}

.sideways{
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 0.1px;
    margin-right: 20px;
    padding: 10px;
    border-right: 6px solid #DB5660;
}

.flexgen{
    display: flex;
    align-items: center;
}


img {
    width:100%;
    height:100%;
    object-fit:cover;
    opacity: 0.6;
    transition: opacity 1s;
}

img:hover {
    opacity: 1.0;
    color: #DB5660;
  }

.overlap{
    position: absolute;
}

@media screen and (max-width: 768px) {
    /* make titles go horzontal and on top */
    .sideways{
        writing-mode: horizontal-tb;
    }
    .aboutme{
        flex-direction: column;
        height: auto;
    }
    .flexgen{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        height: auto;
    }
    /* making project section stack correctly */
    .flexsection{
        flex-direction: column;
    }
    /* .work section:nth-child(1){
        height: 150px;
    }
    .work section:nth-child(2){
        height: 280px;
    }
    .work section:nth-child(3){
        height: 410px;
    } */
}
